.cart {
  &__list {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;

    & > li:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
