.cart-item {
  display: flex;
  justify-content: space-between;
  font-weight: 600;

  &__name {
    color: $accentColor;
  }

  &__options {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__count {
    width: 64px;
    text-align: right;
  }

  &__price {
    width: 100px;
    margin-right: 10px;
    text-align: right;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
