.cart-item {
  display: flex;
  justify-content: space-between;
  font-weight: 600;

  &__name {
    color: $accentColor;
  }

  &__options {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
