.cooperation {
  background-image: linear-gradient(to right bottom, #fdfcfe, #ffffff);

  &__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &__content {
    text-align: center;
  }

  &__form {
    width: 640px;
  }

  &__text {
    line-height: 2;
  }
}
