.delivery {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to right bottom, #fdfcfe, #ffffff);

  &__content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    font-size: 20px;

    p {
      margin-bottom: 10px;
    }
  }

  &__icon {
    width: 300px;
  }

  &__info {
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
  }

  &__days {
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  &__price {
    margin-bottom: 40px;
    text-align: center;
  }

  &__condition {
    font-weight: 500;
  }

  &__link {
    font-style: italic;
    max-width: 60%;
  }
}

.text {
  text-align: center;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
  font-weight: 500;

  &:nth-last-child(2) {
    margin-bottom: 30px;
  }
}

.city__list {
  margin-left: 400px;
  margin-bottom: 15px;

  li {
    font-style: italic;
  }
}

.link {
  display: block;
  text-align: center;
  font-style: italic;
}

#text-privew {
  text-align: center;
  position: relative;
}

@keyframes myAnimation {
  from {
    left: -70%;
  }

  to {
    left: 0;
  }
}

/* Hien thi cho Firefox */
@-moz-keyframes myAnimation {
  from {
    left: -70%;
  }

  to {
    left: 0;
  }
}

/* Hien thi cho Safari and Chrome */
@-webkit-keyframes myAnimation {
  from {
    left: -70%;
  }

  to {
    left: 0;
  }
}

/* Hien thi cho Opera */
@-o-keyframes myAnimation {
  from {
    left: -70%;
  }

  to {
    left: 0;
  }
}

#text-privew {
  animation: myAnimation 5.1s ease 0.1s 1 normal running;
  -moz-animation: myAnimation 5.1s ease 0.1s 1 normal running;
  -webkit-animation: myAnimation 5.1s ease 0.1s 1 normal running;
  -o-animation: myAnimation 5.1s ease 0.1s 1 normal running;
}
