.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 10px 0;
  background-color: $textColor;

  .copyright {
    font-size: 14px;
    color: $defaultColor;
  }
}
