@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import '../variables';

.header{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $bgColor;
  box-shadow: inset 0 20px 16px -16px rgba($color: $textColor, $alpha: 0.5);
  z-index: 10;
}

.header__wrapper{
  padding: 20px 0;
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Dancing Script', cursive;
  color: $accentColor;
}

.header__nav{
  display: flex;
}

.nav__list{
  display: flex;
  list-style: none;
}

.nav__item{
  &:not(:last-child) {
    margin-right: 80px;
  }
}

.nav__link{
  transition: color 250ms linear;
  text-decoration: none;
  color: $textColor;

  &--main{
    margin-right: 80px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $accentColor;
  }
}

.header__settings{
  display: flex;
  align-items: baseline;
}

.login {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;

  &:hover .login__icon,
  &:focus .login__icon{
    fill: $accentColor;
  }

  &:hover .login__text,
  &:focus .login__text {
    color: $accentColor;
  }
}

.login__icon {
  margin-right: 8px;
  fill: $textColor;
  transition: fill 250ms linear;
}

.login__text{
  transition: color 250ms linear;
}

.header__line{
  width: 1200px;
  height: 2px;
  margin: 0 auto;
  background-color: $textColor;
}