.header{
  position: sticky;
  height: 90px;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: $defaultColor;
  box-shadow: inset 0 20px 16px -16px rgba($color: $textColor, $alpha: 0.5);

  &::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1200px;
    height: 2px;
    z-index: 6;
    transform: translateX(-50%);
    background-color: $textColor;
  }
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  max-width: 1260px;
}

.header__logo {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Dancing Script';
  color: $accentColor;
}

.nav,
.nav__list{
  display: flex;
  gap: 60px;
}

.nav__link{
  transition: $transition;
  color: $textColor;

  &:hover,
  &:focus,
  &:active {
    color: $accentColor;
  }
}

.header__settings{
  display: flex;
  align-items: baseline;
}

.login {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;

  &:hover .login__icon,
  &:focus .login__icon{
    fill: $accentColor;
  }

  &:hover .login__text,
  &:focus .login__text {
    color: $accentColor;
  }
}

.login__icon {
  margin-right: 8px;
  fill: $textColor;
  transition: $transition;
}

.login__text{
  transition: $transition;
}