.sort-button {
  padding: 8px 10px;
  border-radius: 30px;
  background-color: $accentColor;
  color: $defaultColor;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease;

  &--active {
    outline: 1px solid $accentColor;
    background-color: $defaultColor;
    color: $accentColor;
  }
}
